<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Arcaneum</title>
</head>
<body>
    <h1>📚 Biblioteca Arcaneum 📚</h1>
    
    <nav>
        <ul>
            <li><a href="/categorias">Categorias 🗂️</a></li>
            <li><a href="/livros">Livros 📚</a></li>
            <li><a href="/leitores">Leitores 👥</a></li>
            <li><a href="/emprestimos">Empréstimos 📜</a></li>
            <li><a href="/emprestimos/ranking_leitores">Ranking de Leitores 🏆</a></li>
        </ul>
    </nav>
</body>
</html>
